
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search XML</h2>
<p>
    @using (Html.BeginForm("Index", "XMLSearch", FormMethod.Get))
    {
    <p>
        @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
    }
</p>

@Html.TextArea("XmlContainer", new
{
   @readonly="readonly",
    style = "width: 1000px; height: 300px;"
})
